@model MVC.Models.OgrenciCreateDto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 >Yeni Öğrenci Ekle</h2>
<form asp-controller="Ogrenciler" asp-action="Create" method="post">
    <div class="form-group">
        <label class="mb-2">Ad Soyad :</label>
        <input asp-for="AdiSoyadi" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Kaydet</button>
</form>

