@model List<MVC.Models.OgrenciCreateDto>

<h2>Öğrenci Listesi</h2>
<a asp-action="Create" class="btn btn-primary">Yeni Öğrenci Ekle</a>
<table class="table table-bordered mt-3">
    <tr>
        
        <th>Ad Soyad</th>
    </tr>

    @foreach(var x in Model)
    {
        <tr>
            <td>@x.AdiSoyadi</td>
        </tr>
    }

    </table>